body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1 {
    text-align: center;
    color: forestgreen;
}

h3 {
    font-style: italic;
    color: teal;
}

section {
    border: 2px solid coral;
    padding: 10px 15px 30px 15px;
    margin: 10px
}

.rectangle {
    /* THESE WERE TAKEN OUT FROM PROBLEMS 19-23 FOR LESS CLUTTER */
    height: 20px;
    margin: 1px;
}